.app-site-section {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    >.section-anchor {
        position: absolute;
        top: -55px;
    }

    >.body {
        padding: 40px 0px;
        background: var(--color-light-grey);
        >.container {
            max-width: 1100px;
            margin: auto;
        }
    }
}
