.app-social-networks-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  
  .content {
    padding: 0;
  }
  >*:not(:last-child) {
    padding-right: 8px;
  }
  img {
    height: 36px;
    cursor: pointer;
  }
}