:root {
    // Site color
    --color-light-grey: #F2F0F0;
    --color-grey: #A69495;
    --color-dark-grey: #594C4C;
    --color-content-grey: #8C8C8C;
    --color-black: #353434;

    --color-light-red: #F23030;
    --color-dark-red: #A62121;
}
